
build/.vs/*
build/CMakeFiles/*
*.obj
*.tlog
*.log
*.txt
*.recipe
*.exp
*.lib
*.html
*.png
*.css
*.jpg
*.txt
*.stamp
*.in
*.cmake
vs-project/.vs/bspguy/v17/.suo
vs-project/.vs/bspguy/v17/fileList.bin
*.db-shm
*.db
*.db-wal
*.opendb
*.ipch
*.pdb
*.ilk
